.cat-item-container {
    display: flex;
    max-width: 90%;
}

.cat-item-container img {
    height: 40px;
}

.cat-item-messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cat-item-messages label {
    width: fit-content;
    max-width: 75%;
    box-sizing: border-box;
    margin: 0 0 5px 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #432b51d7;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
}

.cat-item-meme-container {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;   
    margin-bottom: 5px;
    padding: 10px;
    border: 1.2px solid #432b51;
    border-radius: 5px;    
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.16);
}

.cat-item-meme-container img {
    height: 180px;
    width: 180px;
    object-fit: contain;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}