.selector-container {
    width: 100%;
    height: auto;
}

.selector-content {
    width: 80%;
    height: fit-content;
    display: flex;    
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px 0 10px auto;
    padding: 15px 0 10px 15px;
    background-color: #e08b97; 
    border-radius: 5px;
}

.selector-options label {    
    width: 90%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 5px 5px 5px 10px;
    background-color: #b8717a;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    font-family: "Quicksand";
    cursor: pointer;
}

.selector-options label:hover {
    background-color: #914a53;
}